// 颜色
$dw-color-default:						#ffffff!default;
$dw-color-default-hover:				#e6e6e6!default;

$dw-color-success:						#21B384!default;
$dw-color-success-hover:				#28A47C!default;

$dw-color-primary:						#4D96DF!default;
$dw-color-primary-hover:				#4684C3!default;

$dw-color-warning:						#FFBD7A!default;
$dw-color-warning-hover:				#F0AF6D!default;

$dw-color-danger:						#D9534F!default;
$dw-color-danger-hover:					#C74743!default;

$dw-color-skyblue:						#99CCFF!default;
$dw-color-skyblue-hover:				#8EB5DB!default;

$dw-color-powderblue:					#99CCCC!default;
$dw-color-powderblue-hover:				#85BDBD!default;

$dw-color-springgreen:					#66CC99!default;
$dw-color-springgreen-hover:			#5AB588!default;

$dw-color-lightpurple:					#CCCCFF!default;
$dw-color-lightpurple-hover:			#B8B8E9!default;

$dw-color-lightgrey:					#CCCCCC!default;
$dw-color-lightgrey-hover:				#C5C5C5!default;

$dw-color-deepred:						#AA314D!default;
$dw-color-deepred-hover:				#923248!default;

$dw-color-disabled:						#aaaaaa!default;

