@font-face {
  font-family: 'robotothin';
  src: url("../../fonts/roboto-thin/roboto-thin.eot");/* IE9 Compat Modes */
  src: url("../../fonts/roboto-thin/roboto-thin.eot?iefix") format("embedded-opentype"),/* IE6 - IE8 */
  	   url("../../fonts/roboto-thin/roboto-thin.woff") format("woff"), /* chorme,firefox */
  	   url("../../fonts/roboto-thin/roboto-thin.ttf") format("truetype"), /* chorme,firefox,oprea,saf */
  	   url("../../fonts/roboto-thin/roboto-thin.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
} 