body{
	overflow-x: hidden;
	box-sizing: border-box;
	min-height: 100%;
}

*{
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.showcolor{
	/*width: 1210px;*/
	height: auto;
	margin: 0 auto;
	padding:20px 0 50px 0;
	display: block;
}


.showcolor li{
	line-height: 100px;
	border:1px solid #eee;
	list-style: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #fff;
	font-family:'Microsoft Yahei';
	padding: 0;
}

.listTitle{
	font-family:'Microsoft Yahei';
	font-size: 18px;
	font-weight: blod;
	margin:20px;
}

.span_list{
	font-size: 12px;
	margin-left:20px;
	margin-bottom:20px;
	display:block;
}


.listDiscription{
	font-family:'Microsoft Yahei';
	font-size: 14px;
	font-weight: blod;
	margin:10px 0;
	display: block;
	height: 36px;
	line-height: 18px;
	text-align: center;
}

.btn-div{
	/*width: 50%;*/
	/*float: left;*/
}

/*.input_style{
	width: 1210px;
	padding: 5px;
}
*/
