footer{
	width:100%;
}

.div_footer{
	background:#aaa;
	color:#fff;
	width:100%;
	height:130px;
	display:flex;
	-webkit-align-items:center;
	-moz-align-items:center;
	align-items:center;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	justify-content:center;
}