<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://www.daiwei.org/componentCss.css">
	<script type="text/javascript" src="http://www.daiwei.org/jquery.js"></script>
	<script type="text/javascript" src="../src/globalDw.js"></script>
	<link rel="stylesheet" href="http://www.daiwei.org/global.css">
	<script type="text/javascript" src="http://www.daiwei.org/componentJs.js"></script>
</head>
<body>
	<header class="header" id="header">
		
	</header>

	<div class="showcolor main-content">
		<div class="dw-boot-container">
			<div class="dw-boot-row">
				<h3 class="listTitle">颜色列表</h3>
				<ul class="ul_colorInfo dw-boot-col-lg-12">
					<li class="bg-color-success dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-primary dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-warning dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-danger dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-skyblue dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-springgreen dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-lightpurple dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-powderblue dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-default dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-lightgrey dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-deepred dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
					<li class="bg-color-lightgrey dw-boot-col-lg-1 dw-boot-col-md-2 dw-boot-col-sm-3 dw-boot-col-xs-4"></li>
				</ul>
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">按钮 (鼠标悬浮显示class名称)</h3>
				<span class="span_list dw-color-danger">class为dw-btn的标签</span>
				<div class="dw-boot-col-lg-12">
					<div class="list-content">
						<div class="btn-div">
							<div class="input_style dw-boot-col-lg-12">
								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class=" dw-btn has-hover" value="你好" title=" dw-btn has-hover">
									<span class="listDiscription">拥有hover效果有色背景:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="button" class="input-success dw-btn has-hover input-empty" value="你好" title="input-success dw-btn has-hover input-empty">
									<span class="listDiscription">拥有hover效果无色背景:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="button" class="input-success dw-btn has-hover input-reverse-toempty" value="是的我很好!" title="input-success dw-btn has-hover input-reverse-toempty">
									<span class="listDiscription">拥有hover效果有色到无色背景:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="button" class="input-success dw-btn has-hover input-reverse-tofull" value="是的我很好!" title="input-success dw-btn has-hover input-reverse-tofull">
									<span class="listDiscription">拥有hover效果无色到有色背景:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="button" class="input-success dw-btn has-hover input-reverse-tofull input-trans" value="是的我很好!" title="input-success dw-btn has-hover input-reverse-tofull input-trans">
									<span class="listDiscription">拥有hover效果过渡效果:</span>
								</div>
							</div>
						</div>

						<div class="btn-div">
							<div class="input_style dw-boot-col-lg-12">
								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-success dw-btn has-hover" value="你好" title="input-success dw-btn has-hover">
									<span class="listDiscription">success:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-primary dw-btn has-hover" value="你好" title="input-primary dw-btn has-hover">
									<span class="listDiscription">primary:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-warning dw-btn has-hover" value="你好" title="input-warning dw-btn has-hover">
									<span class="listDiscription">warning:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-danger dw-btn has-hover" value="你好" title="input-danger dw-btn has-hover">
									<span class="listDiscription">danger:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-default dw-btn has-hover" value="你好" title="input-default dw-btn has-hover">
									<span class="listDiscription">default:</span>
								</div>
							</div>
						</div>

						<div class="btn-div">
							<div class="input_style dw-boot-col-lg-12">
								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-deepred dw-btn has-hover" value="你好" title="input-deepred dw-btn has-hover">
									<span class="listDiscription">deepred:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-powderblue dw-btn has-hover" value="你好" title="input-powderblue dw-btn has-hover">
									<span class="listDiscription">powderblue:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<input style="display:block;margin:0 auto" type="submit" class="input-skyblue dw-btn has-hover" value="你好" title="input-skyblue dw-btn has-hover">
									<span class="listDiscription">skyblue:</span>
								</div>
							</div>
						</div>

						<div class="btn-div">
							<div class="input_style dw-boot-col-lg-12">
								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<button style="display:block;margin:0 auto" class="input-success btn-lg has-hover dw-btn" title="input-success btn-lg has-hover dw-btn">Hello</button>
									<span class="listDiscription">最大按钮:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<button style="display:block;margin:0 auto" class="input-success input-empty btn dw-btn has-hover" title="input-success input-empty btn dw-btn has-hover">Hello</button>
									<span class="listDiscription">默认大小:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<button style="display:block;margin:0 auto" class="input-success dw-btn btn-sm" title="input-success dw-btn btn-sm">Hello</button>
									<span class="listDiscription">小按钮:</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<button style="display:block;margin:0 auto" class="input-success dw-btn input-empty btn-xs" title="input-success dw-btn input-empty btn-xs">Hello</button>
									<span class="listDiscription">最小按钮:</span>
								</div>



								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<button style="display:block;margin:0 auto" class="input-success dw-btn has-hover input-reverse-tofull input-trans btn-xs" title="input-success dw-btn has-hover input-reverse-tofull input-trans btn-xs" disabled="true">Hello</button>
									<span class="listDiscription">这是不可点击状态(只有button和input可使用):</span>
								</div>

								<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-boot-col-sm-6 dw-boot-col-xs-12">
									<div style="margin:0 auto;display: table;" class="input-success dw-btn has-hover input-reverse-tofull disabled btn-sm" title="input-success dw-btn has-hover input-reverse-tofull disabled btn-sm">Hello</div>
									<span class="listDiscription">这是不可点击状态(div):</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">文字颜色</h3>
				<div class="list-content" style="padding: 0 40px">
					<div class="dw-boot-col-xs-12 dw-boot-col-sm-6">
						<p style="height: 64px;line-height: 32px;" class="dw-color-success ">你好,世界	dw-color-success</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-primary ">你好,世界	dw-color-primary</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-warning ">你好,世界 	dw-color-warning</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-danger ">你好,世界	dw-color-danger</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-skyblue ">你好,世界	dw-color-skyblue</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-powderblue ">你好,世界	dw-color-powderblue</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-lightpurple ">你好,世界	dw-color-lightpurple</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-lightgrey ">你好,世界		dw-color-lightgrey</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-deepred">你好,世界	dw-color-deepred</p>
						<p style="height: 64px;line-height: 32px;" class="dw-color-disabled">你好,世界	dw-color-disabled</p>
					</div>



					<div class="dw-boot-col-xs-12 dw-boot-col-sm-6">
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-success">你好,世界		has-hover dw-color-success</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-primary">你好,世界		has-hover dw-color-primary</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-warning">你好,世界		has-hover dw-color-warning</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-danger">你好,世界		has-hover dw-color-danger</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-skyblue">你好,世界		has-hover dw-color-skyblue</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-powderblue">你好,世界		has-hover dw-color-powderblue</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-lightpurple">你好,世界		has-hover dw-color-lightpurple</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-lightgrey">你好,世界	has-hover dw-color-lightgrey</p>
						<p style="height: 64px;line-height: 32px;" class="has-hover dw-color-deepred">你好,世界		has-hover dw-color-deepred</p>
					</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">栅格系统(bootstrap)</h3>
				<div class="dw-boot-col-lg-12" style="margin: 5px 0">
					<div class="dw-boot-col-lg-3 dw-bgcolor-skyblue" style="height: 64px;line-height: 36px;">dw-boot-col-lg-3</div>
					<div class="dw-boot-col-lg-9 dw-bgcolor-success" style="height: 64px;line-height: 36px;">dw-boot-col-lg-9</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<div class="dw-boot-col-lg-12" style="margin: 5px 0">
					<div class="dw-boot-col-lg-2 dw-bgcolor-powderblue" style="height: 64px;line-height: 36px;">dw-boot-col-lg-2</div>
					<div class="dw-boot-col-lg-2 dw-bgcolor-skyblue" style="height: 64px;line-height: 36px;">dw-boot-col-lg-2</div>
					<div class="dw-boot-col-lg-8 dw-bgcolor-success" style="height: 64px;line-height: 36px;">dw-boot-col-lg-8</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<div class="dw-boot-col-lg-12" style="margin: 5px 0">
					<div class="dw-boot-col-lg-offset-2 dw-boot-col-lg-2 dw-bgcolor-success" style="height: 64px;line-height: 36px;">dw-boot-col-lg-offset-2 dw-boot-col-lg-2</div>
					<div class="dw-boot-col-lg-offset-2 dw-boot-col-lg-6 dw-bgcolor-success" style="height: 64px;line-height: 36px;">dw-boot-col-lg-offset-2 dw-boot-col-lg-6</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<div class="dw-boot-col-lg-12" style="margin: 5px 0">
					<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-bgcolor-powderblue" style="height: 64px;line-height: 36px;">aaaaaaaaa</div>
					<div class="dw-boot-col-lg-2 dw-boot-col-md-4 dw-bgcolor-skyblue" style="height: 64px;line-height: 36px;">dw-boot-col-md-4 dw-bgcolor-skyblue</div>
					<div class="dw-boot-col-lg-8 dw-boot-col-md-4 dw-bgcolor-skyblue" style="height: 64px;line-height: 36px;">dw-boot-col-md-4 dw-bgcolor-skyblue</div>
				</div>
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">1像素边框</h3>
				<div class="dw-boot-col-md-4" style="padding: 20px 10px;">
					<p class="border-1px dw-border-powderblue"></p>
				</div>

				<div class="dw-boot-col-md-4" style="padding: 20px 10px;">
					<p class="border-1px dw-border-danger"></p>
				</div>

				<div class="dw-boot-col-md-4" style="padding: 20px 10px;">
					<p class="border-1px dw-border-disabled"></p>
				</div>

				<div class="dw-boot-col-md-4" style="padding: 20px 10px;">
					<p class="border-1px dw-border-primary"></p>
				</div>
			</div>

			<div class="dw-boot-row">
				<div class="dw-boot-col-md-12" style="padding: 20px 10px;">
					<div class="dw-boot-col-md-6"><p style="margin: 10px 0;color: #666">默认效果:</p><input type="text" class="dw-text" title="dw-text"></div>
					<div class="dw-boot-col-md-6"><p style="margin: 10px 0;color: #666">有focus效果</p><input type="text" class="dw-text has-focus" title="dw-text has-focus"></div>
					<div class="dw-boot-col-md-6"><p style="margin: 10px 0;color: #666">有focus效果,转变状态颜色效果:</p><input type="text" class="dw-text has-focus text-success" title="dw-text has-focus text-success"></div>
					<div class="dw-boot-col-md-6"><p style="margin: 10px 0;color: #666">有focus效果,直接显示状态效果:</p><input type="text" class="dw-text has-focus text-trans text-danger in-danger" title="dw-text has-focus text-trans text-danger in-danger"></div>
					<div class="dw-boot-col-md-6"><p style="margin: 10px 0;color: #666">有focus效果,直接显示状态效果 以及圆角效果:</p><input type="text" class="dw-text has-focus text-trans text-primary in-primary text-radius" title="dw-text has-focus text-trans text-primary in-primary text-radius"></div>
				</div>
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">图片显示类型</h3>
				<img class="dw-img-rounded" style="width: 300px;height: 300px;margin: 20px;" src="http://www.daiwei.org/index/images/img/indeximg.jpg" alt="图片">
				<img class="dw-img-circle" style="width: 300px;height: 300px;margin: 20px;" src="http://www.daiwei.org/index/images/img/indeximg.jpg" alt="图片">
			</div>

			<div class="dw-boot-row">
				<h3 class="listTitle">表格</h3>
				<table>
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <th scope="row">1</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">2</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">3</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			        </tbody>
			      </table>

			    <h3 class="listTitle" title="dw-boot-table-bordered">带边框的表格</h3>
				<table class="dw-boot-table-bordered">
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <th scope="row">1</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">2</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">3</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			        </tbody>
			      </table>

			    <h3 class="listTitle" title="dw-boot-table-condensed">更小间距的表格</h3>
				<table class="dw-boot-table-condensed dw-boot-table-hover">
			        <thead>
			          <tr> 
			            <th>#</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr class="success"> 
			            <th scope="row">1</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr class="warning"> 
			            <th scope="row">2</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr class="danger"> 
			            <th scope="row">3</th>
			            <td>1111</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr class="primary"> 
			            <th scope="row">3</th>
			            <td>1111</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			        </tbody>
			    </table>

			    <h3 class="listTitle" title="dw-boot-table-diffcolor">tr一行显示不同的颜色</h3>
				<table class="dw-boot-table-diffcolor">
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			            <th>Table heading</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <th scope="row">1</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">2</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			          <tr>
			            <th scope="row">3</th>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			            <td>Table cell</td>
			          </tr>
			        </tbody>
			    </table>
			</div>

		</div>
	</div>

	<footer class="footer" id="footer">
		
	</footer>
</body>

<script>
	$("input").on('click',function(){
		$Dw.showMessage($(this).attr('class'));
	});

	$("button").on('click',function(){
		$Dw.showMessage($(this).attr('class'));
	});

	$(".div-btn").on('click',function(){
		$Dw.showMessage($(this).attr('class'));
	});
</script>
</html>